[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ohmy/Desktop/steam.desktop]
row=4
col=0

[908a9bea-5587-4280-838f-ceab85aabfe5]
row=2
col=0

[2f691935-cee8-4e57-afcf-de3c733b7021]
row=1
col=0

[fcc1c6f3-30b4-48d6-8cb2-5beb84ed43f7]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=5
col=0

[/home/ohmy]
row=6
col=0

