[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ohmy/Desktop/steam.desktop]
row=6
col=0

[908a9bea-5587-4280-838f-ceab85aabfe5]
row=5
col=0

[6A688EB9688E8393]
row=2
col=0

[OnePlus A6013]
row=7
col=0

[2f691935-cee8-4e57-afcf-de3c733b7021]
row=1
col=0

[Wastebasket]
row=0
col=0

[/]
row=3
col=0

[/home/ohmy]
row=4
col=0

